body{
    background-color: black;
}

div{
    color: antiquewhite;
    font-size: 50px;
    text-align:center;
    margin-bottom: 10px;
}

.header{
    background-color: brown;
    width: 1000px;
    height: 150px;
    line-height: 125px;
}

.navigation-menu{
    background-color: brown;
    width: 1000px;
}

.content-left{
    background-color: brown;
    width : 300px;
    height: 400px;
    float: left;
    margin-right: 10px;
}

.content-main{
    background-color: brown;
    width : 380px;
    height: 400px;
    float: left;
}

.content-right{
    background-color: brown;
    width: 300px;
    height : 400px;
    float: left;
    margin-left: 10px;
}

.footer{
    background-color: brown;
    width: 1000px;
    clear: both;
}
